.publicIcon {
  background: url(../images/index/public-24.png) no-repeat;
  background: url(../images/index/public-24.png) no-repeat; }

.topHeader {
  width: 100%;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 980;
  min-width: 1000px; }
  .topHeader .topHeaderCon {
    width: 1000px;
    height: 26px;
    line-height: 26px;
    margin: 0 auto;
    position: relative; }
    .topHeader .topHeaderCon .topHeaderLeft {
      width: 220px;
      overflow: hidden;
      height: 26px;
      position: absolute;
      top: 0;
      left: 0; }
      .topHeader .topHeaderCon .topHeaderLeft p, .topHeader .topHeaderCon .topHeaderLeft a {
        margin-left: 6px;
        float: left;
        line-height: 26px; }
      .topHeader .topHeaderCon .topHeaderLeft p span {
        display: inline-block;
        float: left;
        max-height: 100px;
        height: 26px;
        overflow: hidden;
        margin-right: 5px; }
      .topHeader .topHeaderCon .topHeaderLeft p em {
        display: inline-block;
        float: left;
        font-style: normal; }
      .topHeader .topHeaderCon .topHeaderLeft .newsNum em, .topHeader .topHeaderCon .topHeaderLeft .newsNum i {
        font-size: 12px;
        font-style: normal;
        display: inline-block; }
      .topHeader .topHeaderCon .topHeaderLeft .newsNum i {
        color: #c00;
        padding-left: 2px;
        font-weight: bold; }
      .topHeader .topHeaderCon .topHeaderLeft .newsNum:hover {
        text-decoration: none; }
      .topHeader .topHeaderCon .topHeaderLeft .newsNum:hover em {
        text-decoration: underline; }
    .topHeader .topHeaderCon .topHeaderLeft a, .topHeader .topHeaderCon .topHeaderLeft p, .topHeader .topHeaderCon .topHeaderRight li > a, .topHeader .topHeaderCon .topHeaderRight li > span {
      color: #999999; }
    .topHeader .topHeaderCon .topHeaderLeft a:hover, .topHeader .topHeaderCon .topHeaderRight a:hover {
      color: #CC0001; }
    .topHeader .topHeaderCon .topHeaderRight {
      height: 26px;
      float: right; }
      .topHeader .topHeaderCon .topHeaderRight li {
        height: 26px;
        float: left;
        padding: 0 5px;
        position: relative; }
        .topHeader .topHeaderCon .topHeaderRight li i, .topHeader .topHeaderCon .topHeaderRight li a, .topHeader .topHeaderCon .topHeaderRight li span, .topHeader .topHeaderCon .topHeaderRight li s {
          display: inline-block;
          float: left;
          color: #999; }
        .topHeader .topHeaderCon .topHeaderRight li i {
          width: 12px;
          height: 12px;
          margin: 7px 5px 0 0;
          overflow: hidden; }
      .topHeader .topHeaderCon .topHeaderRight .dropTitleBox {
        border: 1px solid #e5e5e5;
        border-top: 0;
        position: absolute;
        top: 27px;
        left: -1px;
        z-index: 206;
        background: #fff;
        padding: 5px 0;
        display: none; }
        .topHeader .topHeaderCon .topHeaderRight .dropTitleBox a {
          width: 72px;
          text-align: center; }
      .topHeader .topHeaderCon .topHeaderRight .dropTitle.on .dropTitleBox {
        display: block; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n1 .myJiuxian a {
        height: 26px;
        color: #999; }
        .topHeader .topHeaderCon .topHeaderRight .hd-n1 .myJiuxian a:hover {
          color: #cc0001; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n1 .dropTitleBox {
        width: 72px; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n2 a {
        color: #c00;
        text-decoration: none; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n3 i {
        background-position: -18px 1px;
        display: inline-block; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n3 b {
        color: #c00; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n4 i {
        background-position: -36px 0;
        width: 20px;
        margin: 3px 2px 0 0; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n4 s, .topHeader .topHeaderCon .topHeaderRight .hd-n5 s, .topHeader .topHeaderCon .topHeaderRight .hd-n6 s {
        width: 0;
        height: 12px;
        border-left: 1px solid #ccc;
        position: absolute;
        right: 0;
        top: 7px;
        overflow: hidden; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n4 a {
        height: 16px;
        line-height: 16px;
        padding: 0 3px;
        color: #c00;
        margin: 5px 5px 0 0; }
        .topHeader .topHeaderCon .topHeaderRight .hd-n4 a:hover {
          text-decoration: none; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n5 a {
        height: 16px;
        line-height: 17px;
        padding: 0 3px;
        color: #fff;
        background-color: #cc0001;
        border-radius: 2px;
        margin: 5px 5px 0 0; }
        .topHeader .topHeaderCon .topHeaderRight .hd-n5 a i {
          background-position: -62px 0;
          margin: 2px 3px 0 0; }
        .topHeader .topHeaderCon .topHeaderRight .hd-n5 a:hover {
          color: #fff; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n5 .erm2015922 {
        padding: 5px;
        border: 1px solid #ccc;
        background-color: #fff;
        position: absolute;
        top: 26px;
        left: 2px;
        display: none; }
      .topHeader .topHeaderCon .topHeaderRight .dropTitle {
        z-index: 205;
        padding: 0 4px 0 7px;
        border-left: 1px solid #F2F2F2;
        border-right: 1px solid #F2F2F2; }
        .topHeader .topHeaderCon .topHeaderRight .dropTitle.on {
          border-left: 1px solid #ededed;
          border-right: 1px solid #ededed;
          background: #fff;
          height: 27px;
          margin-bottom: -1px; }
        .topHeader .topHeaderCon .topHeaderRight .dropTitle s {
          width: 9px;
          height: 8px;
          background-position: -99px 3px;
          margin: 9px 1px 9px 3px;
          transition: all .5s ease-in-out 0; }
        .topHeader .topHeaderCon .topHeaderRight .dropTitle .dropTitle:hover s {
          transform: rotate(180deg); }
      .topHeader .topHeaderCon .topHeaderRight .hd-n7 i {
        background-position: -80px 0; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n7 .subNavBox {
        width: 205px;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        position: absolute;
        top: 27px;
        left: -1px;
        z-index: 206;
        background: #fff;
        display: none;
        padding: 5px 0 0 0; }
        .topHeader .topHeaderCon .topHeaderRight .hd-n7 .subNavBox .subNav-item {
          width: 165px;
          padding: 6px 20px 8px;
          overflow: hidden;
          border-bottom: 1px solid #ededed; }
          .topHeader .topHeaderCon .topHeaderRight .hd-n7 .subNavBox .subNav-item.bg {
            background: #f9f9f9; }
          .topHeader .topHeaderCon .topHeaderRight .hd-n7 .subNavBox .subNav-item .snItem-tit {
            line-height: 28px; }
            .topHeader .topHeaderCon .topHeaderRight .hd-n7 .subNavBox .subNav-item .snItem-tit h3 {
              font-size: 14px;
              color: #333;
              font-weight: normal; }
          .topHeader .topHeaderCon .topHeaderRight .hd-n7 .subNavBox .subNav-item .snItem-con {
            width: 180px;
            line-height: 24px; }
            .topHeader .topHeaderCon .topHeaderRight .hd-n7 .subNavBox .subNav-item .snItem-con a {
              height: 24px;
              text-align: left;
              width: 48px;
              margin-right: 10px;
              overflow: hidden; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n8 i {
        background-position: -90px -265px; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n8 .dropTitleBox {
        width: 89px; }
      .topHeader .topHeaderCon .topHeaderRight .hd-n9 {
        width: 144px;
        padding: 0 0 0 7px;
        _padding: 0 0 0 1px; }
        .topHeader .topHeaderCon .topHeaderRight .hd-n9 .servPhone {
          color: #c00;
          padding-left: 5px; }

.topFocusBox, .footerFocusBox {
  width: 100%; }

.topFocusBox a, .footerFocusBox a {
  display: block;
  width: 100%;
  height: 90px; }

.midHeader {
  width: 100%;
  min-width: 1000px; }
  .midHeader .midHeaderCon {
    width: 1200px;
    height: 125px;
    margin: 0 auto; }
    .midHeader .midHeaderCon .headerLogo {
      display: inline-block;
      width: 257px;
      height: 65px;
      float: left;
      margin-top: 30px;
      overflow: hidden; }
  .midHeader .headerSearch {
    width: 540px;
    float: left;
    display: inline-block;
    margin: 32px 0 0 20px; }
    .midHeader .headerSearch .searchHome {
      height: 32px;
      border: 3px solid #c00;
      z-index: 222;
      position: relative; }
      .midHeader .headerSearch .searchHome .search-form {
        width: 239px;
        height: 22px;
        line-height: 22px;
        padding: 5px;
        border: 0 none;
        color: #666;
        float: left; }
      .midHeader .headerSearch .searchHome .search-btn {
        width: 85px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border: 0;
        font-size: 16px;
        color: #fff;
        background: #c00;
        cursor: pointer;
        float: right; }
    .midHeader .headerSearch .hotWords {
      width: 541px;
      height: 18px;
      overflow: hidden;
      padding-top: 5px; }
      .midHeader .headerSearch .hotWords p {
        height: 18px;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        left: -8px;
        z-index: 1; }
      .midHeader .headerSearch .hotWords a {
        float: left;
        display: inline-block;
        color: #999;
        padding: 0 8px;
        height: 18px;
        position: relative; }
        .midHeader .headerSearch .hotWords a.on {
          color: #cc0001; }
      .midHeader .headerSearch .hotWords s {
        display: block;
        height: 12px;
        width: 0;
        font-size: 0;
        line-height: 0;
        border-left: 1px solid #999;
        position: absolute;
        left: -1px;
        top: 3px; }
  .midHeader .headerProtect {
    width: 363px;
    float: right;
    height: 64px;
    margin: 33px 0 0 0;
    display: inline-block;
    background: url(../images/index/headerProPic1.png) no-repeat top left; }
    .midHeader .headerProtect a {
      display: inline-block;
      width: 106px;
      height: 43px;
      margin-left: 15px; }

.navWrap {
  width: 100%;
  height: 34px;
  background: #900;
  position: relative;
  z-index: 99;
  min-width: 1000px; }
  .navWrap .nav {
    width: 1200px;
    height: 34px;
    margin: 0 auto;
    position: relative;
    z-index: 99; }
    .navWrap .nav .navCategoryMenu {
      width: 190px;
      float: left;
      position: relative;
      z-index: 200; }
      .navWrap .nav .navCategoryMenu h2 {
        width: 190px;
        height: 34px;
        line-height: 34px;
        background: #ce171f;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        font-weight: normal;
        color: #fff;
        font-weight: 600;
        box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2); }
      .navWrap .nav .navCategoryMenu .categoryBox {
        width: 186px;
        height: 468px;
        border: 2px solid #c00;
        border-top: 0;
        position: absolute;
        top: 34px;
        left: 0;
        z-index: 99; }
        .navWrap .nav .navCategoryMenu .categoryBox li {
          float: left;
          width: 186px;
          height: 81px;
          background: #fff;
          border-bottom: 1px solid #e4e4e4; }
          .navWrap .nav .navCategoryMenu .categoryBox li:last-child {
            height: 58px;
            border-bottom: 0; }
            .navWrap .nav .navCategoryMenu .categoryBox li:last-child .catItemCon {
              height: 58px; }
          .navWrap .nav .navCategoryMenu .categoryBox li.on {
            background: #f1f1f1; }
            .navWrap .nav .navCategoryMenu .categoryBox li.on .catItemCon {
              border-left: 3px solid #ce171f; }
          .navWrap .nav .navCategoryMenu .categoryBox li .catItemCon {
            width: 163px;
            height: 81px;
            padding: 0 10px;
            border-left: 3px solid #fff; }
          .navWrap .nav .navCategoryMenu .categoryBox li h3 {
            line-height: 32px;
            height: 32px;
            font-size: 14px;
            overflow: hidden;
            font-weight: normal;
            padding-top: 3px;
            color: #333; }
            .navWrap .nav .navCategoryMenu .categoryBox li h3 i {
              display: inline-block;
              width: 14px;
              height: 20px;
              margin-right: 10px;
              vertical-align: middle;
              position: relative;
              top: -1px; }
              .navWrap .nav .navCategoryMenu .categoryBox li h3 i.seleWine {
                background-position: -73px -260px; }
            .navWrap .nav .navCategoryMenu .categoryBox li h3 a, .navWrap .nav .navCategoryMenu .categoryBox li h3 a:hover {
              color: #333; }
          .navWrap .nav .navCategoryMenu .categoryBox li .categoryCon {
            width: 163px;
            overflow: hidden;
            position: relative; }
            .navWrap .nav .navCategoryMenu .categoryBox li .categoryCon p {
              width: 170px;
              height: 20px;
              overflow: hidden; }
              .navWrap .nav .navCategoryMenu .categoryBox li .categoryCon p a {
                display: inline-block;
                height: 16px;
                line-height: 16px;
                padding: 0 4px;
                color: #666;
                float: left;
                margin: 2px 3px 2px 0; }
                .navWrap .nav .navCategoryMenu .categoryBox li .categoryCon p a.on {
                  background: #f90;
                  color: #fff;
                  border-radius: 3px;
                  line-height: 16px; }
                  .navWrap .nav .navCategoryMenu .categoryBox li .categoryCon p a.on:hover {
                    color: #fff; }
              .navWrap .nav .navCategoryMenu .categoryBox li .categoryCon p a:hover {
                color: #666;
                text-decoration: none; }
      .navWrap .nav .navCategoryMenu .navCon {
        display: none; }
        .navWrap .nav .navCategoryMenu .navCon .menuBox {
          height: 470px;
          position: absolute;
          left: 188px;
          top: 34px;
          z-index: 301;
          box-shadow: 0 0 4px 0 #ccc; }
          .navWrap .nav .navCategoryMenu .navCon .menuBox .menuCon {
            width: 400px;
            height: 470px;
            float: left;
            display: inline-block;
            background: #f1f1f1;
            overflow: hidden; }
            .navWrap .nav .navCategoryMenu .navCon .menuBox .menuCon .menuItemTitle {
              width: 60px;
              float: left;
              padding: 10px 10px 10px 20px;
              line-height: 22px;
              text-align: right;
              border-top: 1px solid #f1f1f1; }
              .navWrap .nav .navCategoryMenu .navCon .menuBox .menuCon .menuItemTitle h4 {
                font-size: 12px;
                color: #333;
                font-weight: normal;
                overflow: hidden;
                white-space: nowrap; }
            .navWrap .nav .navCategoryMenu .navCon .menuBox .menuCon .menuItemCon {
              float: left;
              background: #fff; }
              .navWrap .nav .navCategoryMenu .navCon .menuBox .menuCon .menuItemCon .menuCon-list {
                width: 280px;
                margin: 0 15px 0 15px;
                padding: 10px 0 10px;
                overflow: hidden;
                border-top: 1px dotted #ccc; }
                .navWrap .nav .navCategoryMenu .navCon .menuBox .menuCon .menuItemCon .menuCon-list p {
                  margin: 0 0 0 -1px;
                  line-height: 22px;
                  max-height: 176px;
                  _height: 176px;
                  overflow: hidden; }
                  .navWrap .nav .navCategoryMenu .navCon .menuBox .menuCon .menuItemCon .menuCon-list p a {
                    display: inline-block;
                    float: left;
                    white-space: nowrap;
                    padding: 0 8px;
                    background: url(../images/index/menuLine.jpg) no-repeat scroll left center; }
                    .navWrap .nav .navCategoryMenu .navCon .menuBox .menuCon .menuItemCon .menuCon-list p a.hot {
                      color: #f60; }
                    .navWrap .nav .navCategoryMenu .navCon .menuBox .menuCon .menuItemCon .menuCon-list p a:hover {
                      text-decoration: none; }
    .navWrap .nav .navList {
      width: 890px;
      height: 34px;
      float: left; }
      .navWrap .nav .navList li {
        display: inline-block;
        height: 34px;
        line-height: 34px;
        text-align: center;
        float: left;
        position: relative;
        z-index: 203; }
        .navWrap .nav .navList li.on {
          background: #b40c10; }
        .navWrap .nav .navList li a.channel {
          display: inline-block;
          height: 34px;
          color: #fff;
          font-size: 14px;
          background: url(../images/index/navLine.png) l no-repeat left center;
          padding: 0 22px; }
          .navWrap .nav .navList li a.channel:hover {
            color: #fff;
            text-decoration: none;
            background: #b40c10; }
        .navWrap .nav .navList li.home .channel {
          background: 0; }
        .navWrap .nav .navList li .hot {
          background-position: 0 -264px;
          display: block;
          font-size: 0;
          height: 17px;
          line-height: 0;
          position: absolute;
          right: 6px;
          top: -6px;
          width: 29px;
          z-index: 203; }
        .navWrap .nav .navList li .new {
          background-position: -36px -264px;
          display: block;
          font-size: 0;
          height: 17px;
          line-height: 0;
          position: absolute;
          right: 6px;
          top: -6px;
          width: 29px;
          z-index: 203; }

.homeMainbody {
  width: 100%; }
  .homeMainbody .mainBanner {
    width: 100%;
    position: relative;
    height: 470px;
    overflow: hidden;
    z-index: 11px; }
    .homeMainbody .mainBanner .bigImg {
      margin: 0 auto;
      position: relative;
      z-index: 0;
      overflow: hidden; }
      .homeMainbody .mainBanner .bigImg .bigUl {
        width: 100%; }
        .homeMainbody .mainBanner .bigImg .bigUl li {
          width: 1263px;
          position: absolute;
          top: 0;
          left: 0;
          height: 470px; }
    .homeMainbody .mainBanner .smallBtn {
      height: 20px;
      left: 0;
      position: absolute;
      text-align: center;
      top: 435px;
      width: 100%;
      z-index: 20; }
      .homeMainbody .mainBanner .smallBtn .smallUl {
        height: 20px;
        margin: 0 auto;
        z-index: 21;
        text-align: center; }
        .homeMainbody .mainBanner .smallBtn .smallUl li {
          background: #000;
          border-radius: 50%;
          box-shadow: 0 0 3px;
          color: #fff;
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          margin-right: 8px;
          opacity: .8;
          width: 20px;
          overflow: hidden;
          text-align: center; }
          .homeMainbody .mainBanner .smallBtn .smallUl li.on {
            background: #dd102e; }

/*# sourceMappingURL=header.css.map */
