@charset "utf-8";

body{background:#fff;}
.cartIcon{background:url(../images/cart/cartIcon-gw-24.png) no-repeat;}
em{
    font-style: normal;
}

.midHeader{
    background: #fff;
    height: 90px;
    width: 100%;
    .midHeaderBox{
        height: 90px;
        margin: 0 auto;
        position: relative;
        width: 1000px;
        z-index: 102;
        .jxwLogo{
            float: left; height: 63px; margin-top: 20px; width: 257px;
            .jxwIndex{
                float: left; width: 140px;
                a{
                    display: block; height: 63px; width: 140px;
                }
            }
        }
       .bayProcess{
           float:right; margin-top:25px;
           .proPic{
               width:396px; height:27px; background:url(../images/cart/ch_icon.png) no-repeat; margin:0 26px 0 16px;
           }
           .proTex{
                width:438px; height:16px; line-height:16px; overflow:hidden; white-space:nowrap; margin-top:8px;
                span{ color:#aaa; margin-right:117px;}
                .on{ color:#666;}
           }
       } 
    }
}

.shoppingCart{
    width:1000px; margin:20px auto 0; font-family:"宋体"; position:relative;
    #cart_container{
        .cartHeader{
            height:35px; line-height:35px; border-bottom:1px solid #e4e4e4; border-right:1px solid #e4e4e4; border-top:1px solid #e4e4e4; border-left:2px solid #e6393d; background:#fbfbfb; 
            .cartHeaderCon{
                 float:left; text-align:center;
            }
            .goodHeadCheck{
                width:58px; text-align:left; padding-left:9px;
                .checkAll{
                    margin:12px 10px 0 0;float:left;
                }
                span{
                    float: left;
                }
            }
            .goodHeadName{ width:366px; text-align:left; text-indent:60px;}
            .goodHeadPrice{ width:102px;}
            .goodHeadGold{ width:102px;}
            .goodHeadNum{ width:120px;}
            .goodHeadTotal{ width:120px;}
            .goodHeadOperate{ width:120px;}
        }
        .cartTab tr.odd{background:#f9f9f9;}
        .cartTab .trLast td{ border:0px;}
        .cartTableBox{ 
            border-bottom:none; margin-top:15px;
            .pubHeader{ height:36px; padding-left:11px;}
            .shopAll{ height:16px; line-height:16px; float:left; padding-top:10px;}
            .shopAll input,.shopAll a,.shopAll .shopIcon,.shopAll span{ float:left; display:inline-block;}
            .shopIcon{ margin:0 6px 0 10px; _display:inline;}
            .shopAll input{ width:13px; height:13px; overflow:hidden; display:block; margin-top:2px;}
            .shopAll span{ font-weight:bolder; color:#666666;}
            .shopAll a:hover span{ color:#e6393d;}
            .shopAll .jxzy{ background-position:0 0; width:16px; height:16px;}
            .shopAll .busi{ background-position:-17px 0; width:16px; height:16px;}
            .shopAll a:hover .busi{ background-position:-34px 0; width:16px; height:16px;}
            .freePosBox{ float:right; height:36px; line-height:36px; color:#777;}
            .freePosBox span{color:#e6393d; padding:0 2px;}
            .cart-tabBox{
                width:998px; height:auto; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; border-top:2px solid #b7b7b7;
                .cartTab{ 
                    width:998px;
                    td{ height:86px; text-align:center;}
                    .cTab-check{ width:58px; text-align:left; padding-left:10px;}
                    .cTab-name{
                        width:366px; text-align:left;
                        .cn-Pic{ width:54px; height:54px; _height:55px; float:left;}
                        .cn-Pic img{ height: 52px; vertical-align: middle; width: 52px; border:1px solid #fff;}
                        .cn-Con{ height:52px; float:left; padding-left:10px; width:302px;}
                        .cn-Con p{ width:300px; overflow:hidden;}
                        .cn-Con .cn-Con-Name{ height:26px; line-height:26px; white-space:nowrap; text-overflow:ellipsis; padding-left:1px;}
                        .cn-Con .cn-Con-Name2{ height:52px; line-height:52px; white-space:nowrap; text-overflow:ellipsis; padding-left:1px;}
                        .cn-Con a{ color:#333;}
                        .cn-Con a:hover{ color:#cc0001; text-decoration:none;}
                        .cn-Con .cn-Con-Pro{ height:18px; padding-top:5px; _height:19px; padding-left:1px;}
                    }
                    .cTab-jxPri{ width:102px; font-family:"微软雅黑";}
                    .cTab-gold{ width:102px;}
                    .cTab-city{ width:114px;}
                    .cTab-amount{ width:120px;}
                    .cTab-amount .cAmount-add { margin: 0 auto; width: 72px;border: 1px solid #ccc; height: 20px; clear:both;}
                    .cTab-amount .ctxt { height: 20px; line-height: 20px; text-align: center; width: 30px; display:inline-block; border:0px; font-size:15px; color:#333; float: left;}
                    .cTab-amount .ca-minus,.cTab-amount .ca-plus { cursor: pointer; float: left; height: 20px; width: 21px; display:inline-block; -moz-user-select: none;  -webkit-user-select: none; -ms-user-select: none;}
                    .cTab-amount .ca-minus { background-position:0 -43px;}
                    .cTab-amount .minusOn{ background-position:0 -71px;}
                    .cTab-amount .ca-plus{ background-position:-30px -43px;}
                    .cTab-amount .plusOn{ background-position:-30px -71px;}
                    .cTab-amount .cAmount-pro{ width:74px; height:16px; line-height:16px; text-align:center; color:#E6393D; margin:8px auto 0;} /*库存紧张*/
                    .cTab-amount .numLimited{ background:none; color:#999;} /*有货*/
                    .cTab-amount .nonumLimited{color:#e6393d;font-weight:bold} /*无货*/
                    .cTab-amount .zpProduct{font-size: 13px;color:#333; font-family:"Microsoft YaHei";}
                }
                .cartTab .cTab-subt{ width:120px; font-weight:bold; color:#e6393d; font-family:"微软雅黑"; }
                .cartTab .cTab-ope{ width:120px;}
                .cartTab .cTab-ope .opeBox{ width:120px; height:60px; position:relative; padding-top:20px; }
                .cTab-ope .opeBox a{ display:block; line-height:20px;}
                .cartTab th{ height:42px; text-align:center; font-weight:normal; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; background:#fff6e5;}
                .cartTab .pro-Name{ width:402px; text-align:left;}
                .cartTab .pro-Name .pro-Name-con{ float:left; margin-top:4px;}
                .cartTab .pro-Name .pro-Name-hgsp{ float:left; width:90px; height:28px; position:relative; margin-left:15px; }
                .pro-opeBox{ width:110px; height:33px; line-height:33px; position:relative;}
                .cartTab .pro-Name b{float:left; width:218px; padding-left:10px; display:inline-block; line-height:20px; font-weight:normal; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
                .cartTab .pro-Name b a:hover{  color:#555; text-decoration:none;}
                .pro-Name input{ margin:3px 0 0 12px; float:left;} 
                .pro-Name span{float:left; display:inline-block; height:18px; line-height:18px; color:#fff; margin:0 0 0 12px; padding:0 6px; border: 1px solid #e6393d; border-radius:2px; background:#fffbf3; position:relative;}
                .pro-Name span i{display:inline-block; height:5px; width:6px; background-position:0 -216px; position:absolute; bottom:-5px; left:4px; font-size:0; line-height:0;}
                .pro-Name span em{ display:inline-block; font-style:normal; color:#e6393d;}
                .pro-Name .premiums{ padding-left:8px;}
                .pro-Name .premiums em{ padding:0 8px; font-weight:bold; border-radius:5px;}
                .pro-Name-hgsp{ width:64px; height:18px; position:relative; z-index:100;}
                .pro-Name-hgsp .hgsp-but{background:#e54346; border-radius:3px; color:#fff; display:block; width:88px; height:26px; line-height:26px; border:1px solid #cf000d; text-align:center;}
                .pro-Name-hgsp .hgsp-but:hover{ color:#fff; text-decoration:none;}
                .pro-Name-hgsp .hgsp-but i{ display:inline-block; width:15px; height:8px; background-position:-185px -176px; margin-left:5px; _margin-top:7px;}
                .pro-Name-hgsp .hgsp-but.on i{ background-position:-185px -192px;}
                .table{ width:100%; vertical-align:middle;}
                .premiums{ border-top:1px dotted #CCCCCC;}
            }
        }
        .countMoney{ border:1px solid #e4e4e4; width:998px; position:relative; margin-top:20px;}
        .countMoney .CoupAndProm{ padding:15px 30px 0; height:68px;}
        .CoupAndProm .cpTitle{ height:28px;}
        .CoupAndProm .cpTitle span{ display:inline-block; height:26px; line-height:26px; color:#cf000d; border:1px solid #cf000d; border-radius:2px; background:#fff; margin-right:8px; padding:0 12px; cursor:pointer;}
        .CoupAndProm .cpTitle .on{ background:#ffe6e8;}
        .CoupAndProm .cpTitle span i{ display:inline-block; width:15px; height:8px; background-position:-185px -208px; margin-left:8px; _margin-top:8px;}
        .CoupAndProm .cpTitle .on i{ background-position:-185px -224px;}
        .CoupAndProm .cpTitle .promTit{ display: none; }
        .CoupAndProm .cpClose{ width:14px; height:14px; background-position:-36px -211px; position:absolute; right:33px; top:25px; cursor:pointer;}
        .CoupAndProm .cpContent .cpList{ display:none; margin-bottom:18px;}
        .promList{ padding-top:18px;}
        .promList ul{ padding:0 25px; overflow-y:auto; position:relative;}
        .promList li{ margin-bottom:12px; height:18px; overflow:hidden;}
        .promList li span{ color: #fff; display: inline-block; height: 16px; line-height: 16px; border: 1px solid #e6393d; background:#e6393d; margin-right:20px; padding: 0 3px 0 4px;}
        .promList li em{ display: inline-block; line-height:18px; font-style:normal;}
        .countMoney .goodDetail{ width:650px; background:#fff; padding:15px 5px 15px 0; border-top:1px solid #fff; position:absolute; right:0; top:0;}
        .countMoney .goodDetail.on{ width:auto; border-top:1px solid #e4e4e4; position:relative;}
        .countMoney .goodDetail .moneyTotal{ height:26px; line-height:26px; text-align:right;}
        .countMoney .goodDetail em{ display:inline-block; font-style:normal;}
        .countMoney .goodDetail span{ display:inline-block; font-family:"Microsoft YaHei"; }
        .countMoney .goodDetail span b{color:#c00; font-weight: normal;}
        .countMoney .goodDetail .goodMoney{ width:77px; text-align:left;}
        .countMoney .goodDetail .preMoney{ width:65px; text-align:left;}
        .countMoney .goodDetail .totTit{ margin-left:30px;}
        .countMoney .moneyDetail{height:46px; line-height:46px; background:#f2f2f2; border-top:1px solid #e4e4e4;}
        .countMoney .moneyDetailFixed{ border-top:1px solid #e4e4e4; position:fixed; z-index:101; bottom:0px; left:0; width:100%; box-shadow: 0 0 5px -1px #ccc;}
        .countMoney .moneyDetCon{ width:998px; margin:0 auto;}
        .countMoney .moneyDetail .goonShop{ float:left; height:46px; line-height:46px; padding-left:10px; }
        .countMoney .moneyDetail .goonShop label{ float:left; margin-right:20px;}
        .countMoney .moneyDetail .goonShop input{margin:17px 10px 0 0; width:14px; height:14px; float:left;}
        .countMoney .moneyDetail .goonShop span{float:left;}
        .countMoney .moneyDetail .goonShop .ma1{float:left; display:inline-block; margin-right:18px; }
        .countMoney .moneyDetail .goonShop .ma1:hover{ color:#666;}
        .countMoney .moneyDetail .goonShop .ma2{float:left; display:inline-block; height:28px; line-height:28px; color:#0066cc; padding:0 20px; border:1px solid #e4e4e4; background:#fff; border-radius:3px; margin-top:8px;}
        .countMoney .moneyDetail .goonShop .ma2:hover{text-decoration:none; color:#0066cc;}
        .countMoney .moneyDetail .countBox{float:right;  height:46px; line-height:46px;}
        .countMoney .moneyDetail .countBox .countSum{ float:right; height:46px; margin-right:25px; font-family:"Microsoft YaHei";}
        .countMoney .moneyDetail .countBox .countSum b{position:relative; top:-2px; font-weight:normal; font-size:14px; color:#333;}
        .countMoney .moneyDetail .countBox .countSum span{color:#cf010e; font-size:18px; font-weight:bold;}
        .countMoney .moneyDetail .countBox .sumMoney{ padding-right:4px;}
        .countMoney .moneyDetail .countBox .countBtnBox{float:right; height:48px; margin:-1px -1px 0 0; position:relative;}
        .countMoney .moneyDetail .countBox .countBtnBox a{ display:inline-block; height:48px; line-height:48px; width:100px; text-align:center; color:#fff; background:#e2010f; font-weight:bold; font-size:20px; font-family:"Microsoft YaHei";}
        .countMoney .moneyDetail .countBox .countBtnBox a:hover{text-decoration:none;}
        .countMoney .moneyDetail .countBox .sett-submit{ display:none; float:right; width:98px; height:46px; line-height:46px; text-align:center; font-size:16px; color:#ff6633; font-family:"Microsoft YaHei"; background:#fff9ee; border:1px solid #ffe2b4; position:relative; margin:-1px -1px 0 0;}

    }
}



