.publicIcon{
    background: url(../images/index/public-24.png) no-repeat;
    background: url(../images/index/public-24.png) no-repeat;
}

.topHeader{
    width: 100%;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    z-index: 980;
    min-width: 1000px;
    & .topHeaderCon{
        width: 1000px;
        height: 26px;
        line-height: 26px;
        margin: 0 auto;
        position: relative;
        & .topHeaderLeft{
            width: 220px;
            overflow: hidden;
            height: 26px;
            position: absolute;
            top: 0;
            left: 0;
            & p,& a{
                margin-left: 6px;
                float: left;
                line-height: 26px;
            }
            & p span{
                display: inline-block;
                float: left;
                max-height: 100px;
                height: 26px;
                overflow: hidden;
                margin-right: 5px;
            }
            & p em{
                display: inline-block;
                float: left;
                font-style: normal;
            }
            & .newsNum em,
            & .newsNum i{
                font-size: 12px;
                font-style: normal;
                display: inline-block;
            }
            & .newsNum i {
                color: #c00;
                padding-left: 2px;
                font-weight: bold
            }
            & .newsNum:hover {
                text-decoration: none
            }
            & .newsNum:hover em {
                text-decoration: underline
            }
        }
        & .topHeaderLeft a,
        & .topHeaderLeft p,
        & .topHeaderRight li>a,
        & .topHeaderRight li>span{
            color: #999999;
        }
        & .topHeaderLeft a:hover,
        & .topHeaderRight a:hover{
            color: #CC0001;
        }
        & .topHeaderRight{
            height: 26px;
            float: right;
            
            & li{
                height: 26px;
                float: left;
                padding: 0 5px;
                position: relative;
                & i,& a,& span,& s{display: inline-block;float: left;color: #999;}
                & i{
                    width: 12px;
                    height: 12px;
                    margin: 7px 5px 0 0;
                    overflow: hidden;
                }
            }
            & .dropTitleBox{
                border: 1px solid #e5e5e5;
                border-top: 0;
                position: absolute;
                top: 27px;
                left: -1px;
                z-index: 206;
                background: #fff;
                padding: 5px 0;
                display: none;
                & a{width: 72px;text-align: center;}
            }
            & .dropTitle.on .dropTitleBox{display: block;}
            & .hd-n1{
                & .myJiuxian a{
                    height: 26px;
                    color: #999;
                    &:hover{color: #cc0001;}
                }
                & .dropTitleBox{width: 72px;}
            }
            & .hd-n2 a{
                color: #c00;
                text-decoration: none;
            }
            & .hd-n3 i{
                background-position: -18px 1px;
                display: inline-block;
            }
            & .hd-n3 b{
                color: #c00;
            }
            & .hd-n4 i{
                background-position: -36px 0;
                width: 20px;
                margin: 3px 2px 0 0;
            }
            & .hd-n4 s,& .hd-n5 s,& .hd-n6 s{width: 0;height: 12px;border-left: 1px solid #ccc;position: absolute;right: 0;top: 7px;overflow: hidden;}
            & .hd-n4 a{height: 16px;line-height: 16px;padding: 0 3px;color: #c00;margin: 5px 5px 0 0;
                &:hover{text-decoration: none;}
            }
            & .hd-n5 a{
                height: 16px;line-height: 17px;padding: 0 3px;color: #fff;background-color: #cc0001;border-radius: 2px;margin: 5px 5px 0 0;
                & i{
                    background-position: -62px 0;margin: 2px 3px 0 0;
                }
                &:hover{color: #fff;}
            }
            & .hd-n5 .erm2015922{padding: 5px;border: 1px solid #ccc;background-color: #fff;position: absolute;top: 26px;left: 2px;display: none;}
            & .dropTitle{
                z-index: 205;padding: 0 4px 0 7px;border-left: 1px solid #F2F2F2;border-right: 1px solid #F2F2F2;
                &.on{border-left: 1px solid #ededed;border-right: 1px solid #ededed;background: #fff;height: 27px;margin-bottom: -1px}
                & s{
                    width: 9px;
                    height: 8px;
                    background-position: -99px 3px;
                    margin: 9px 1px 9px 3px;
                    transition: all .5s ease-in-out 0;
                }
                & .dropTitle:hover s {
                    transform: rotate(180deg)
                }
            }
            & .hd-n7{
                & i{background-position: -80px 0;}
                & .subNavBox{
                    width: 205px;
                    border-left: 1px solid #e5e5e5;
                    border-right: 1px solid #e5e5e5;
                    position: absolute;
                    top: 27px;
                    left: -1px;
                    z-index: 206;
                    background: #fff;
                    display: none;
                    padding: 5px 0 0 0;
                    & .subNav-item{
                        width: 165px;
                        padding: 6px 20px 8px;
                        overflow: hidden;
                        border-bottom: 1px solid #ededed;
                        &.bg{background: #f9f9f9;}
                        & .snItem-tit{
                            line-height: 28px;
                            & h3{
                                font-size: 14px;
                                color: #333;
                                font-weight: normal
                            }
                        }
                        & .snItem-con{
                            width: 180px;
                            line-height: 24px;
                            & a{height: 24px;text-align: left;width: 48px;margin-right: 10px;overflow: hidden;}
                        }
                    }
                }
            }
            & .hd-n8 i{background-position: -90px -265px;}
            & .hd-n8 .dropTitleBox{width: 89px;}
            & .hd-n9{
                width: 144px;
                padding: 0 0 0 7px;
                _padding: 0 0 0 1px;
                & .servPhone{color: #c00;padding-left: 5px;}
            }
        }
    }
}

.topFocusBox,.footerFocusBox{
    width: 100%;
     
}
.topFocusBox a,.footerFocusBox a{
        display: block;
        width: 100%;
        height: 90px;
}
.midHeader{
    width: 100%;
    min-width: 1000px;
    & .midHeaderCon{
        width: 1200px;
        height: 125px;
        margin: 0 auto;
        $a : 65px;
        & .headerLogo{
            display: inline-block;
            width: 257px;
            height: $a;
            float: left;
            margin-top: 30px;
            overflow: hidden;
        }
    }
    .headerSearch{
        width: 540px;
        float:left;
        display: inline-block;
        margin: 32px 0 0 20px;
        .searchHome{
            height: 32px;
            border: 3px solid #c00;
            z-index: 222;
            position: relative;
            .search-form{
                width: 239px;
                height: 22px;
                line-height: 22px;
                padding: 5px;
                border: 0 none;
                color: #666;
                float: left;
            }
            .search-btn{
                width: 85px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border: 0;
                font-size: 16px;
                color: #fff;
                background: #c00;
                cursor: pointer;
                float: right
            }
        }
        .hotWords{
            width: 541px;
            height: 18px;
            overflow: hidden;
            padding-top: 5px;
            p{
                height: 18px;
                line-height: 18px;
                overflow: hidden;
                white-space: nowrap;
                position: relative;
                left: -8px;
                z-index: 1
            }
            a{
                float: left;
                display: inline-block;
                color: #999;
                padding: 0 8px;
                height: 18px;
                position: relative;
                &.on{color: #cc0001;}
            }
            s{
                display: block;
                height: 12px;
                width: 0;
                font-size: 0;
                line-height: 0;
                border-left: 1px solid #999;
                position: absolute;
                left: -1px;
                top: 3px
            }
        }
    }
    .headerProtect {
        width: 363px;
        float: right;
        height: 64px;
        margin: 33px 0 0 0;
        display: inline-block;
        background: url(../images/index/headerProPic1.png) no-repeat top left;
        a {
            display: inline-block;
            width: 106px;
            height: 43px;
            margin-left: 15px
        }
    }
}

.navWrap{
    width: 100%;
    height: 34px;
    background: #900;
    position: relative;
    z-index: 99;
    min-width: 1000px;
    .nav{
        width: 1200px;
        height: 34px;
        margin: 0 auto;
        position: relative;
        z-index: 99;
        .navList{
            width: 690px;
            height: 34px;
            float: left
        }
    }
}
.homeMainbody{
    width: 100%;
    .mainBanner{
        width: 100%;
        position: relative;
        height: 470px;
        overflow: hidden;
        z-index: 11px;
        .bigImg{
            margin: 0 auto;
            position: relative;
            z-index: 0;
            overflow: hidden;
            .bigUl{
                width: 100%;
                li{
                    width: 1263px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 470px;
                }
            }
        }
        .smallBtn{
            height: 20px;
            left: 0;
            position: absolute;
            text-align: center;
            top: 435px;
            width: 100%;
            z-index: 20;
            .smallUl{
                height: 20px;
                margin: 0 auto;
                z-index: 21;
                text-align: center;
                li{
                    background: #000;
                    border-radius: 50%;
                    box-shadow: 0 0 3px;
                    color: #fff;
                    cursor: pointer;
                    display: inline-block;
                    font-size:12px;
                    height: 20px;
                    line-height: 20px;
                    margin-right: 8px;
                    opacity: .8;
                    width: 20px;
                    overflow: hidden;
                    text-align: center;
                    &.on{
                        background: #dd102e;
                    }
                }
            }
        }
    }
    
}
