.newIndexIcon{
    background: url(../images/index/newIndexIcon-24.png);
}

.homeMainbody{
    .mainWrap{
        width: 100%;
        background: #f9f9f9;
        padding: 10px 0;
        overflow: hidden;
        position: relative;
        .mainBox{
            width:1200px; margin:0 auto; background:#f9f9f9;  position:relative;
            .bgLeft{
                width: 100%; position:absolute; left:-500px; top:0; height:1000px; z-index:0;
                a{background: url(../images/index/bgL.png) no-repeat right top;}
            }
            .bgRight{
                width:100%; position:absolute; right:-500px; height:1000px; top:0; z-index:0;
                a{float: right;background: url(../images/index/bgR.png) no-repeat left top;}
            }
            .bgRight a,.bgLeft a{width:500px; height:1000px; display:block;outline:none;}
            .fixDiv{ position:fixed; _display:none; width:40px; height:205px; left:50%;
                margin-left:-550px;  top:300px; z-index:0;  opacity:0;
                transform:scaleY(1.5);
                -webkit-transform:scaleY(1.5); 
                -moz-transform:scaleY(1.5); 
                -o-transform:scaleY(1.5);
                -ms-transform:scaleY(1.5);
                transition:.5s transform, .5s opacity;
                -o-transition:.5s transform, .5s opacity;   
                -moz-transition:.5s transform, .5s opacity;
                -webkit-transition:.5s transform, .5s opacity;
                -ms-transition:.5s transform, .5s opacity;
                div{
                     position:absolute; left:0; font-size:12px;  text-align:center; cursor:pointer;
                }
                a{
                    width:30px; height:30px; position:absolute; left:0; top:0; color:#fff; font-size:12px; text-align:center; border-radius:30px; line-height:30px; text-decoration:none; cursor:pointer;  overflow:hidden;
                } 
                .floorOne{ top:0;}
                .floorTwo{ top:31px;}
                .floorThree{ top:62px;}
                .floorFour{ top:93px;}
                .floorOneOn{ background:#d43d4e;z-index:1;display:none}
                .floorTwoOn{ background:#c2782f;z-index:1;display:none}
                .floorThreeOn{ background:#296693;z-index:1;display:none}
                .floorFourOn{ background:#6c9d0e;z-index:1;display:none}
                .floorBg{ 
                    background:#f1f1f1; z-index:2; 
                    
                }
                
            }
            .lay_1{ 
                width:100%; position:relative; z-index:1;
                .indexTabBox{ 
                    float:left; width:920px; background:#fff; height:499px;
                    .indexTabNav{ 
                        width:920px; overflow:hidden; height:38px; position:relative;
                        ul{
                            li{
                                width:198px; border-left:1px solid #ececec; border-right:1px solid #ececec; border-bottom:1px solid #ececec; border-top:2px solid #ececec; height:35px; position:absolute; top:0; cursor:pointer; text-align:center; line-height:35px; font-size:16px; color:#666;background:#f9f9f9;
                                $left : 180px;
                                &.n1{left: 0;}
                                &.n2{left: $left;}
                                &.n3{left: $left * 2;}
                                &.n4{left: $left * 3;width: 178px;}
                                &.n5{left: $left * 4;}
                                &.on{width:198px; border-top:2px solid #cc0000; border-bottom:1px solid #fff; height:35px; color:#cc0000; line-height:35px; background:#fff;}
                            }
                        }
                    }
                   .indexTabConWrap{
                        border:1px solid #ececec; border-top:none; height:460px; overflow:hidden;
                        .indexTabCon{
                            width:910px; height:442px; margin:0 auto; padding:10px 0; overflow:hidden; position:relative;
                            li{
                                float:left; width:174px; margin-top:20px;
                                .indexTabPic{ heigth:160px;width:160px; padding:0 7px; position:relative; z-index:1;}
                                .indexTabTit{
                                    width:170px; padding:0 2px; height:18px; line-height:18px;text-overflow:ellipsis; overflow:hidden;white-space: nowrap;
                                }
                                .indexTabPrice{width:170px; padding:0 2px; height:18px; line-height:18px; overflow:hidden;white-space: nowrap;}
                                & .indexTabPrice strong,&.indexTabPrice del{
                                    font-size:12px; color:#CD0100; font-weight:normal; line-height:18px; display: inline; vertical-align:middle;
                                }
                                .indexTabPrice del{ font-size:12px; color:#666; padding-left:20px;}
                            }
                        }
                   } 
                }
                .indexTabRight{
                    width:270px; float:right; height:500px;
                    .indexTabNew{
                        width:270px; height:140px; background:#fff; overflow:hidden;
                        .indexTabNewNav{
                            height:35px; position:relative;
                            li{
                                font-size:16px; color:#666; text-align:center; width:134px; height:35px; border:1px solid #ececec; line-height:35px; position:absolute; top:0; cursor:pointer; background:#f9f9f9;
                                &.s1{ left:0;}
                                &.s2{ left:135px; width:133px;}
                                &.on{ border-top:2px solid #c41921; border-bottom:1px solid #fff; height:34px; color:#cc0000; line-height:33px; background:#fff;}
                            }
                        }
                        .indexTabNewCon{
                            border:1px solid #ececec; border-top: none; height:94px; padding-top:10px;
                            .indexTabNewList{
                                width:258px; margin:0 auto;
                                li{
                                    float:left; width:114px; margin-left:10px; display:inline; text-overflow:ellipsis; overflow:hidden;white-space: nowrap; line-height:28px;
                                    a{ color:#666;}
                                    a:hover{ color:#ff7700;}
                                }
                            }
                        }
                    }
                    .indexTuanBox{
                        width:268px; height:157px; border:1px solid #ececec; background:#fff;margin-top: 10px; overflow:hidden; position:relative; z-index:1;
                       .indexTuanList{
                           width:268px; height:157px; overflow:hidden; position:relative;
                           ul{
                               width:10000px; height: 157px;
                               position: absolute;
                               li{
                                   float:left; width:268px; height:157px;
                               }
                           }
                       }
                       .btnBox{
                           position:absolute; bottom:10px; left:15px; width:100%; height:12px; overflow:hidden; z-index:2; font-size:0;
                           .btnBg,.btnBg1{
                               display:inline-block; height:17px;
                               em{
                                   display:inline-block; width:12px; height:12px; background:#cccccc; border-radius:50%; margin:0 5px; overflow:hidden; cursor:pointer;
                                   &.on{
                                       background:#6d81ae;
                                   }
                               }
                           }
                       }
                    }
                }
            }
            .Recommend{
                height:130px; position:relative; z-index:0; width:100%; overflow:hidden;;
                p{
                    width:290px; height:126px; float:left; margin:0 55px; _display:inline;
                    img{
                        width:290px; height:126px;
                    }
                }
            }
            .Lay_4{
                background:#fff; z-index:1; position:relative;
                .titlebox{
                    height: 40px;
                    line-height: 40px;
                    background: #f9f9f9;
                    padding: 0 3px;
                    .title_2{ 
                        margin:10px 0 0 0; float:left; display:inline; height:20px; line-height:20px; font-size:0;
                        i{ background-position:0 0; width:20px; height:20px; display:inline-block; vertical-align:middle;}
                         span{ display:inline-block; vertical-align:middle; font-size:17px; color:#333; margin-left:10px;}
                    }
                    .rightNavBox{
                        float:right; display:inline; height:9px; margin-top:20px; font-size:0; line-height:0;
                        span{ display:inline-block; vertical-align:middle; width:9px; height:9px; overflow:hidden; background:#cccccc; margin-left:14px; cursor:pointer;}
                        & .on{ background:#cc0000;}
                    }
                }
                .raceListWrap{
                    width: 1198px;
                    border: 1px solid #ececec;
                    position: relative;
                    overflow: hidden;
                    .raceArrow{ width:27px; height:56px; display:block; position:absolute; top:100px; z-index:100; cursor:pointer;}
                    .raceLeft{ background-position:0 -28px; left:0;}
                    .raceRight{ background-position:-28px -28px; right:0;}
                    .receBoxs{
                        width: 10000px; position: relative; height:257px;
                        .raceList{
                            width:1188px; padding:0 4px;  float: left;  overflow:hidden; height:257px;
                            li{
                                float:left; width:198px; padding:20px 0 10px 0; display:inline; position:relative; z-index:1;
                                .raceListTit{
                                    width:190px; padding:0 4px; height:18px; line-height:18px;text-overflow:ellipsis; overflow:hidden;white-space: nowrap;
                                }
                                .raceListPrice strong{ font-size:15px; color:#CD0100; font-weight:normal;}
                            }
                        }
                    }
                }
            }
        }
    }
}
